/*导航栏样式*/
* {
    margin: 0;
    padding: 0
}
a{
    cursor:pointer
}
#breadcrumb{
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.home {
    height: 100%;
    overflow: hidden;
}
.breadcrumb{
    color: #894834;
    font-size: large;
    font-weight:bold;
    padding: 0 4px;
}
.breadcrumb:hover{
    color: #ff9a27;
    font-size: large;
    font-weight:bold;
}
.content {
    perspective: 340px;
    width: 100%;
    position: relative;
    padding-top: 20px;
}
.home_header{
    width: 100%;
    height:100px;
    background-color: black;
}

.home_left{
    width:60%;
    height:100px;
    background: transparent;
    position: absolute;
    padding-top: 20px;
    display: table-cell;
    top:0;
    left:0;
}
.home_right{
    width:40%;
    height:100px;
    background: transparent;
    padding-top: 20px;
    position: absolute;
    top:10px;
    right:0;
}


span {
    display: block;
    text-align: center;
}

.introduce_item_more a:link,
.introduce_item_more a{
    text-decoration:none;
    color: #696969;
}

@keyframes fly {
    from {
        transform: translateZ(0px);
        opacity: .6;
    }
    to {
        transform: translateZ(200px);
        opacity: .8;
    }
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 300px;
    margin: auto;
    bottom: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.icon {
    width: 15px;
    height: 15px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 100%;
    position: absolute;
    left: 49%;
    bottom: 50px;
    animation: downs 2s linear infinite;
}

@keyframes downs {
    from {
        transform: translatey(0px);
        opacity: .6;
    }
    to {
        transform: translatey(30px);
        opacity: .8;
    }
}

.ribbon {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 60px;
    top:10px;
    margin: auto;
}

.ribbon a:link,
.ribbon a:visited {
    color: white;
    text-decoration: none;
    height: 3.5em;
    overflow: hidden;
}

.ribbon span {
    background: black;
    display: inline-block;
    font-family: Arial,serif;
    line-height: 3em;
    padding: 0 1.5em;
    margin-top: 0.5em;
    position: relative;
}

.ribbon a:hover span {
    background: #e8891c;
    margin-top: 0;
}

