/*homepage样式*/
* {
    margin: 0;
    padding: 0
}

.home {
    height: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.content {
    width: 100%;
    text-align: center;
    margin-left: 40px;
    margin-right:40px ;
    height: 650px;
    display:block;
    background-color: #ffffff;
}

.content img{
    max-width: 90%;
}
.content div{
    position: absolute;
    display:flex;
    object-fit: cover;
}

/*显示当前图片*/
.content .introduce_hot.on{
    position: absolute;
    opacity: 1;
    max-width: 80%;
    object-fit: cover;
    margin-top: 30px;
}
/*显示当前图片*/
.content .off{
    display: none;
}
.content .introduce_hot img{
    max-width: 80%;
    display:block;
    transform: translate(-50%, -50%);    /* 自身尺寸的一半 */
    background-color: black;
    opacity: 0;
    transition-duration: 0.5s;
}
.content .introduce_hot :hover{
    box-shadow:2px 2px 2px 2px #ff9a27;
}
/*左右按钮*/
.left, .right{
    position: absolute;
    top: 40%;
    width: 65px;
    height: 100px;
    line-height: 100px;
    background-color: transparent;
    opacity: 0.5;
    text-align: center;
    font-size: 60px;
    color: #ec9737;
    display: none;    /*隐藏*/
    cursor: pointer;    /*设置鼠标悬停时的样式*/
}
.left{
    left: 10px;
}
.right{
    right: 10px;
}
.content:hover .left, .content:hover .right{
    display: flex;
}

h3 {
    color: blue;
    text-align: center;
}

.home_header{
    width: 100%;
    height:100px;
    background-color: black;
}

.home_left{
    width:60%;
    height:100px;
    background: transparent;
    position: absolute;
    padding-top: 20px;
    display: table-cell;
    top:0;
    left:0;
}
.home_right{
    width:40%;
    height:100px;
    background: transparent;
    padding-top: 20px;
    position: absolute;
    top:10px;
    right:0;
}

img:hover{
    box-shadow:0 0 2px 1px #ff9a27;
}
span {
    display: block;
    text-align: center;
}

.introduce_item_more a:link,
.introduce_item_more a{
    text-decoration:none;
    color: #696969;
}



.icon {
    width: 15px;
    height: 15px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 100%;
    position: absolute;
    left: 49%;
    bottom: 50px;
    animation: downs 2s linear infinite;
}



.introduce {
    display: flex;
    flex-direction: column;
}
.introduce_hot{
    display: flex;
    flex-direction: column;
}
.introduce_item {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.introduce_item_imgtest {
    width: 500px;
    object-fit: cover;
    margin-top: 50px;
}
.introduce_item_name{
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    padding-bottom: 30px;
}
.introduce_item_author{
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    padding-bottom: 20px;
    font-family: "cursive",serif;
}
.introduce_item_text{
    font-size: 15px;
    align-self: center;
    padding-bottom: 50px;
}
.introduce_item_text_hot{
    font-size: 14px;
    align-self: center;
    padding-bottom: 50px;
}
.introduce_item_title_hot {
    width: 350px;
    font-size: 18px;
    line-height: 32px;
    align-self: center;
}
.introduce_item_title_1 {
    width: 350px;
    font-size: 18px;
    line-height: 36px;
    align-self: center;
    padding-left: 100px;
}

.introduce_item_title_2 {
    width: 350px;
    font-size: 18px;
    line-height: 36px;
    align-self: center;
    padding-right: 100px;
}
.introduce_item_more {
    width: 350px;
    font-size: 25px;
    line-height: 20px;
    align-self: center;
    letter-spacing: 5px;
    font-family: "Times New Roman",serif;
}
.introduce_item_more :hover{
    color: #e27f07;
}
