html,body{
    width:100%;
    height:100%
}
body{
    background-color:#ffffff;
    background-image:url("./back_img/login_background.jpg");
    background-size: 100%;
}
#div_register{
    background-color:#212121;
    opacity: 90%;
    padding: 0px;
    position: relative;
    left: 30%;
    top:20%;
    width: 500px;
    height: 500px;
    border-radius: 16px;
}
#div_title{
    height: 60px;
    text-align: center;
    line-height: 60px;
    color:blanchedalmond;
}
*{
    margin:0px;
    padding: 0px;
}
.inputinfo{
    width: 80%;
    height:30px;
    border-radius: 6px;
    margin: 20px 10%;
}
.submit_button{
    width: 150px;
    height:40px;
    margin: 20px 10%;
    float: left;
    background-color: #f8f8f4;
    border-color: white;
    border-radius: 12px;
    font-size: 16px;
}
.login_button{
    width: 150px;
    height:40px;
    margin: 20px 10%;
    float: left;
    background-color: #f8f8f4;
    border-color: white;
    border-radius: 12px;
    font-size: 16px;
}
.submit_button:hover{
    box-shadow: #ff9a27 0 0 1px 1px;
    color: #ffb464;
}
.login_button:hover{
    box-shadow: #ff9a27 0 0 1px 1px;
    color: #ffb464;
}
.to_homepage{
    width: 300px;
    height:25px;
    margin: 10px 20%;
    background-color: transparent;
    border-color: transparent;
    color: white;
}
.to_homepage:hover{
    color: #ff9a27;
}

